<a href="https://colab.research.google.com/github/alarafat3001-coder/Arafat-github/blob/main/Copy_of_PySpark_Assignment_(2025_2026_B).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CW1 - PySpark: E-commerce Customer Churn Analysis with PySpark

In this assignment you will be tasked with exploring a dataset containing anonymous behavioral, demographic, and transactional data for 50,000 customers across a global e-commerce subscription platform. You should complete the exercises presented in the Google Colab Notebook below. This assignment will be graded using CodeGrade.

In [ ]:
# CodeGrade Tag Init1

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# CodeGrade Tag Init2

# Apache Spark uses Java, so first we must install that
!sudo apt-get update -qq
!sudo apt-get install -y openjdk-8-jdk-headless -qq

# Unpack Spark from google drive
!tar xzf /content/drive/MyDrive/spark-3.3.0-bin-hadoop3.tgz

# Set up environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.3.0-bin-hadoop3"

# Install findspark, which helps python locate the psyspark module files
!pip install -q findspark
import findspark
findspark.init()

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
# Finally, we initialse a "SparkSession", which handles the computations
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# pyspark.sql.functions countains all the transformations and actions you will
# need

from pyspark.sql import functions as F
from pyspark.sql.functions import col

In [ ]:
# Load the game_sales_data.csv file into your notebook as a pyspark dataframe

CsvPath = '/content/drive/MyDrive/ecommerce_customer_churn_dataset.csv'

# Load .csv with header, ',' seperators and inferred schema
churnDF = spark.read\
                     .option('header', 'True')\
                     .option("escapeQuotes", "True")\
                     .option('sep', ',')\
                     .option('inferSchema', 'True')\
                     .csv(CsvPath)

In [ ]:
# We drop all rows containing null values

churnDF = churnDF.na.drop()

In [ ]:
# CodeGrade Tag Init3

churnDF.printSchema()
churnDF.show()

root
 |-- Age: double (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Membership_Years: double (nullable = true)
 |-- Login_Frequency: double (nullable = true)
 |-- Session_Duration_Avg: double (nullable = true)
 |-- Pages_Per_Session: double (nullable = true)
 |-- Cart_Abandonment_Rate: double (nullable = true)
 |-- Wishlist_Items: double (nullable = true)
 |-- Total_Purchases: double (nullable = true)
 |-- Average_Order_Value: double (nullable = true)
 |-- Days_Since_Last_Purchase: double (nullable = true)
 |-- Discount_Usage_Rate: double (nullable = true)
 |-- Returns_Rate: double (nullable = true)
 |-- Email_Open_Rate: double (nullable = true)
 |-- Customer_Service_Calls: double (nullable = true)
 |-- Product_Reviews_Written: double (nullable = true)
 |-- Social_Media_Engagement_Score: double (nullable = true)
 |-- Mobile_App_Usage: double (nullable = true)
 |-- Payment_Method_Diversity: double (nullable = true)
 |-- Lifetime_Value: double (nullable = true)
 |-- Credit_Balance: double (nullable = true)
 |-- Churned: integer (nullable = true)
 |-- Signup_Quarter: string (nullable = true)

+----+------+---------+-----------+----------------+---------------+--------------------+-----------------+---------------------+--------------+---------------+-------------------+------------------------+-------------------+------------+---------------+----------------------+-----------------------+-----------------------------+----------------+------------------------+--------------+--------------+-------+--------------+
| Age|Gender|  Country|       City|Membership_Years|Login_Frequency|Session_Duration_Avg|Pages_Per_Session|Cart_Abandonment_Rate|Wishlist_Items|Total_Purchases|Average_Order_Value|Days_Since_Last_Purchase|Discount_Usage_Rate|Returns_Rate|Email_Open_Rate|Customer_Service_Calls|Product_Reviews_Written|Social_Media_Engagement_Score|Mobile_App_Usage|Payment_Method_Diversity|Lifetime_Value|Credit_Balance|Churned|Signup_Quarter|
+----+------+---------+-----------+----------------+---------------+--------------------+-----------------+---------------------+--------------+---------------+-------------------+------------------------+-------------------+------------+---------------+----------------------+-----------------------+-----------------------------+----------------+------------------------+--------------+--------------+-------+--------------+
|43.0|  Male|   France|  Marseille|             2.9|           14.0|                27.4|              6.0|                 50.6|           3.0|            9.0|              94.72|                    34.0|               46.4|         2.0|           17.9|                   9.0|                    4.0|                         16.3|            20.8|                     1.0|        953.33|        2278.0|      0|            Q1|
|56.0|Female|      USA|   New York|             2.6|           10.0|                38.4|             14.8|                 41.7|           9.0|           15.0|             147.33|                    47.0|               44.1|         5.4|           41.4|                   2.0|                    5.0|                         85.9|            31.0|                     3.0|       2340.92|        2674.0|      0|            Q1|
|35.0|  Male|    Japan|      Tokyo|             3.5|            6.0|                21.9|              6.9|                 74.4|           0.0|           12.0|             190.97|                    29.0|               60.2|        11.0|           16.0|                   8.0|                    2.0|                         14.3|            11.2|                     2.0|       1995.43|        2418.0|      1|            Q1|
|56.0|  Male|  Germany|     Berlin|             1.9|           24.0|                46.4|             13.9|                 36.2|           5.0|           20.0|             169.58|                    10.0|               27.8|         5.5|           35.5|                   4.0|                    6.0|                         68.8|            42.9|                     5.0|       3003.57|        2657.0|      0|            Q1|
|32.0|  Male|       UK|    Glasgow|             0.9|            0.0|                12.3|              2.9|                 73.5|           0.0|            5.0|              118.0|                    23.0|               46.2|         5.1|            0.0|                  11.0|                    2.0|                         17.0|             8.0|                     1.0|        599.41|         498.0|      1|            Q2|
|32.0|Female|  Germany|     Munich|             0.6|           11.0|                12.1|              5.6|                 77.2|           0.0|            5.0|              78.88|                    36.0|               72.0|         4.8|            4.0|                   7.0|                    1.0|                          0.0|            17.7|                     2.0|        335.92|        1369.0|      1|            Q3|
|18.0|Female|   France|      Paris|             3.7|           14.0|                33.5|             10.3|                 48.4|           2.0|           15.0|              123.0|                     8.0|               40.0|         3.7|           16.1|                   6.0|                    4.0|                         28.3|            23.3|                     3.0|       1618.51|        3624.0|      0|            Q1|
|31.0|Female|      USA|   New York|             1.4|           24.0|                50.8|             18.0|                 44.0|           5.0|           18.0|              91.92|                    55.0|               83.8|         2.5|           45.0|                   4.0|                    5.0|                         81.6|            26.5|                     1.0|       1692.54|        2564.0|      0|            Q3|
|25.0|Female|   Canada|     Ottawa|             0.9|            4.0|                12.4|              3.7|                 68.5|           1.0|            4.0|             116.39|                    78.0|               42.6|         7.0|            0.0|                   9.0|                    1.0|                          0.0|            15.5|                     1.0|        503.26|        1048.0|      0|            Q3|
|27.0|Female|    India|  Bangalore|             2.0|            0.0|                20.3|              9.8|                 59.8|           2.0|           11.0|             103.12|                     5.0|                6.5|        18.6|           12.5|                   4.0|                    0.0|                          3.4|            17.5|                     3.0|       1096.88|          54.0|      0|            Q2|
|55.0|Female|    India|  Bangalore|             1.2|           24.0|                50.3|             16.0|                 25.2|           9.0|           24.0|             108.52|                     4.0|               33.0|        11.6|           72.1|                   1.0|                    5.0|                         76.7|            37.8|                     1.0|       3063.29|        4561.0|      0|            Q1|
|38.0|  Male|    Japan|   Yokohama|             2.7|           30.0|                45.1|             10.7|                 29.6|           6.0|           22.1|             144.17|                     8.0|               25.8|         1.6|           14.8|                   5.0|                    6.0|                         40.8|            27.5|                     1.0|       2051.85|        4088.0|      0|            Q4|
|20.0|Female|      USA|Los Angeles|             2.7|           27.0|                49.7|             14.4|                 29.3|          11.0|           20.0|             136.08|                    81.0|               19.4|         0.1|           43.0|                   2.0|                    9.0|                         65.3|            37.3|                     2.0|       3014.34|        1725.0|      1|            Q3|
|31.0|Female|Australia|     Sydney|             3.3|           18.0|                40.1|             12.8|                 45.5|           7.0|           21.0|             113.36|                    39.0|               22.1|         2.2|           38.0|                   5.0|                    8.0|                         68.3|            45.2|                     2.0|       1935.29|        2465.0|      0|            Q3|
|39.0|Female|       UK|    Glasgow|             3.9|           14.0|                19.6|             11.6|                 65.3|           7.0|           10.0|             218.46|                    15.0|               50.9|        16.2|           23.3|                   8.0|                    6.0|                         43.5|            25.4|                     3.0|       1846.48|        2511.0|      0|            Q1|
|42.0|  Male|      USA|    Phoenix|             0.4|           17.0|                34.6|              8.5|                 48.7|           8.0|           12.0|             131.02|                    16.0|               45.5|         7.5|           21.2|                   3.0|                    3.0|                         24.4|            21.3|                     1.0|       1709.74|        3002.0|      0|            Q2|
|34.0|  Male|    Japan|   Yokohama|             4.4|           12.0|                42.1|             13.3|                 38.3|           8.0|           17.0|              65.22|                    10.0|               32.3|         5.9|           23.8|                   1.0|                    2.0|                         38.8|            28.8|                     2.0|       1226.33|        1889.0|      0|            Q3|
|37.0|  Male|  Germany|     Munich|             7.5|           29.0|                48.9|             15.9|                 27.8|          14.0|           22.0|              134.1|                    34.0|               22.2|         5.1|           33.6|                   1.0|                   10.0|                         59.0|            39.6|                     5.0|       3367.15|        2544.0|      1|            Q3|
|25.0|  Male|    Japan|      Tokyo|             4.9|           17.0|                27.6|             14.1|                 42.1|           3.0|           19.5|             172.03|                     1.0|               40.8|         7.2|           13.1|                   7.0|                    4.0|                         32.8|            19.9|                     1.0|       2672.57|        3723.0|      1|            Q4|
|40.0|  Male|      USA|    Phoenix|             3.2|           18.0|                27.0|              9.9|                 51.5|           1.0|           11.0|             145.04|                    68.0|               62.0|         7.9|            0.0|                   1.0|                    1.0|                         27.2|             7.5|                     2.0|       1506.54|        2966.0|      0|            Q3|
+----+------+---------+-----------+----------------+---------------+--------------------+-----------------+---------------------+--------------+---------------+-------------------+------------------------+-------------------+------------+---------------+----------------------+-----------------------+-----------------------------+----------------+------------------------+--------------+--------------+-------+--------------+
only showing top 20 rows

# Exercise 1

In this exercise, we will compute a basic Key Performance Indicator table split by ``Churned``.

For each churn class, you must show the following columns: number of customers, mean LTV (where LTV = ``Lifetime_Value``), mean recency (where we take "recency" to mean ``Days_Since_Last_Purchase``), and mean number of purchases (use ``Total_Purchases``)

In [ ]:
# CodeGrade Tag Ex1


exercise1_df = (
    churnDF.groupBy("Churned")
           .agg(
               F.count("*").alias("n_customers"),
               F.mean("Lifetime_Value").alias("mean_LTV"),
               F.mean("Days_Since_Last_Purchase").alias("mean_recency"),
               F.mean("Total_Purchases").alias("mean_purchases")
           )
)

exercise1_df.show()

+-------+-----------+------------------+------------------+------------------+
|Churned|n_customers|          mean_LTV|      mean_recency|    mean_purchases|
+-------+-----------+------------------+------------------+------------------+
|      1|       4932|1523.1739902676402| 37.09712084347121|12.052493917274928|
|      0|      13051|1485.4851329400074|26.994406558884375|14.225224120757025|
+-------+-----------+------------------+------------------+------------------+

# Exercise 2

In this exercise we will identify the countries with the highest churn.

Create a dataframe by grouping by ``Country``, and whose columns show number of customers, churn rate, and average LTV. Filter out small groups (where the number of customers is less than 200) and sort by churn rate descending.

In [ ]:
# CodeGrade Tag Ex2


exercise2_df = (
    churnDF.groupBy("Country")
           .agg(
               F.count("*").alias("n_customers"),
               F.mean("Churned").alias("churn_rate"),
               F.mean("Lifetime_Value").alias("avg_LTV")
           )
           .filter(col("n_customers") >= 200)
           .orderBy(col("churn_rate").desc())
)

exercise2_df.show()

+---------+-----------+-------------------+------------------+
|  Country|n_customers|         churn_rate|           avg_LTV|
+---------+-----------+-------------------+------------------+
|Australia|       1477| 0.2870683818551117|1516.8457210561955|
|  Germany|       1739| 0.2823461759631972|1499.7421564117324|
|    India|       1254| 0.2783094098883573|  1539.74418660287|
|   Canada|       2143| 0.2753149790013999|1481.6044983667773|
|      USA|       6207| 0.2751731915579185|1490.7388706299319|
|       UK|       2679| 0.2732362821948488| 1495.419059350505|
|    Japan|        981| 0.2640163098878695|1497.4046687054024|
|   France|       1503|0.25216234198270127|1474.9250765136408|
+---------+-----------+-------------------+------------------+

# Exercise 3

In this exercise we will compare churn across ``Signup_Quarter`` and tenure buckets derived from ``Membership_Years``.

###a) Feature engineering

Create a new column called ``tenure_bin`` with the following bins:

* "<1y", if ``Membership_Years`` < 1
* "1–3y", if 1 <= ``Membership_Years`` < 3
* "3–5y", if 3 <= ``Membership_Years`` < 5
* "5y+", if ``Membership_Years`` >= 5

###b) cohort table

For each pair (Signup_Quarter, tenure_bin), compute:

* number of customers
* average churn rate
* mean LTV

Finally, sort by ``Signup_Quarter`` then ``tenure_bin``.

In [ ]:
# CodeGrade Tag Ex3 a


churnDF = churnDF.withColumn(
    "tenure_bin",
    F.when(col("Membership_Years") < 1, "<1y")
     .when((col("Membership_Years") >= 1) & (col("Membership_Years") < 3), "1–3y")
     .when((col("Membership_Years") >= 3) & (col("Membership_Years") < 5), "3–5y")
     .otherwise("5y+")
)
# CodeGrade Tag Ex3 b

exercise3_df = (
    churnDF.groupBy("Signup_Quarter", "tenure_bin")
           .agg(
               F.count("*").alias("n_customers"),
               F.mean("Churned").alias("churn_rate"),
               F.mean("Lifetime_Value").alias("mean_LTV")
           )
           .orderBy("Signup_Quarter", "tenure_bin")
)

exercise3_df.show()

+--------------+----------+-----------+-------------------+------------------+
|Signup_Quarter|tenure_bin|n_customers|         churn_rate|          mean_LTV|
+--------------+----------+-----------+-------------------+------------------+
|            Q1|      1–3y|       2067| 0.2607643928398645| 1498.885384615386|
|            Q1|      3–5y|       1138|0.28910369068541303|1525.3039630931455|
|            Q1|       5y+|        761| 0.2706964520367937|1513.6032325886983|
|            Q1|       <1y|        610| 0.2901639344262295|1473.1064098360657|
|            Q2|      1–3y|       2036|0.29764243614931235|1477.2672642436169|
|            Q2|      3–5y|       1109|0.28043282236248873|1476.5880613165011|
|            Q2|       5y+|        713| 0.2805049088359046|1509.7086535764363|
|            Q2|       <1y|        625|             0.3056|1516.3123839999994|
|            Q3|      1–3y|       2050| 0.2629268292682927|1491.3493951219518|
|            Q3|      3–5y|       1168| 0.2688356164383562|1488.3597517123296|
|            Q3|       5y+|        742|0.27628032345013476|1448.0084501347694|
|            Q3|       <1y|        592|0.26013513513513514| 1530.737770270269|
|            Q4|      1–3y|       1984| 0.2661290322580645|1524.1439768145158|
|            Q4|      3–5y|       1164|0.26718213058419243| 1498.111443298969|
|            Q4|       5y+|        653|0.28024502297090353|  1474.10422664625|
|            Q4|       <1y|        571| 0.2434325744308231|1469.2975306479862|
+--------------+----------+-----------+-------------------+------------------+

# Exercise 4

For each pair (``Country``, ``City``), compute churn rate and compare it to the country’s overall churn rate.
Return only cities with enough volume and unusually high churn relative to their country.

Output columns must be: ``Country``, ``City``, ``n_customers``, ``city_churn``, ``country_churn``, ``churn_delta``

In [ ]:
# CodeGrade Tag Ex4


# Country churn baseline
country_df = (
    churnDF.groupBy("Country")
           .agg(
               F.mean("Churned").alias("country_churn")
           )
)

# City churn rates
city_df = (
    churnDF.groupBy("Country", "City")
           .agg(
               F.count("*").alias("n_customers"),
               F.mean("Churned").alias("city_churn")
           )
)

# Compare city churn vs country churn
exercise4_df = (
    city_df.join(country_df, on="Country")
           .withColumn("churn_delta", col("city_churn") - col("country_churn"))
           .filter(col("n_customers") >= 200)
           .filter(col("churn_delta") > 0)
           .select(
               "Country", "City", "n_customers",
               "city_churn", "country_churn", "churn_delta"
           )
           .orderBy(col("churn_delta").desc())
)

exercise4_df.show()

+---------+---------+-----------+-------------------+-------------------+--------------------+
|  Country|     City|n_customers|         city_churn|      country_churn|         churn_delta|
+---------+---------+-----------+-------------------+-------------------+--------------------+
|    India|    Delhi|        248| 0.3225806451612903| 0.2783094098883573| 0.04427123527293303|
|   Canada|  Toronto|        449|0.31403118040089084| 0.2753149790013999|0.038716201399490946|
|   France|    Paris|        287| 0.2857142857142857|0.25216234198270127| 0.03355194373158443|
|Australia|   Sydney|        310| 0.3193548387096774| 0.2870683818551117|0.032286456854565715|
|Australia|Melbourne|        271|0.31365313653136534| 0.2870683818551117|0.026584754676253652|
|  Germany|   Berlin|        343|0.30612244897959184| 0.2823461759631972|0.023776273016394622|
|  Germany|  Cologne|        371| 0.3045822102425876| 0.2823461759631972| 0.02223603427939036|
|   Canada| Montreal|        451|0.29711751662971175| 0.2753149790013999|0.021802537628311858|
|      USA|  Houston|       1225|0.29306122448979594| 0.2751731915579185|0.017888032931877462|
|    India|   Mumbai|        267| 0.2958801498127341| 0.2783094098883573|  0.0175707399243768|
|   France|Marseille|        288| 0.2673611111111111|0.25216234198270127| 0.01519876912840984|
|       UK|   London|        519|0.28516377649325625| 0.2732362821948488|0.011927494298407448|
|    India|Hyderabad|        238| 0.2857142857142857| 0.2783094098883573|0.007404875825928414|
|Australia|    Perth|        299|0.29431438127090304| 0.2870683818551117|0.007245999415791349|
|Australia| Brisbane|        290| 0.2896551724137931| 0.2870683818551117| 0.00258679055868144|
|      USA|  Phoenix|       1297|0.27756360832690824| 0.2751731915579185|0.002390416768989767|
|       UK|  Glasgow|        494|0.27530364372469635| 0.2732362821948488|0.002067361529847...|
|   Canada|Vancouver|        426|0.27699530516431925| 0.2753149790013999|0.001680326162919...|
|      USA| New York|       1253| 0.2761372705506784| 0.2751731915579185|9.640789927599092E-4|
|       UK|    Leeds|        562|0.27402135231316727| 0.2732362821948488| 7.85070118318465E-4|
+---------+---------+-----------+-------------------+-------------------+--------------------+

# Exercise 5

In general, reading churn rate alone can mislead. In this exercise, you must build a table by grouping by signup quarter that measures value lost to churn.

First, you must group by ``Signup_Quarter``, then aggregate by number of customers, churn rate (i.e. average churn), total LTV, churned LTV (i.e. sum of LTV among churned), and the fraction churned (i.e. churned LTV divided by total LTV).

In [ ]:
# CodeGrade Tag Ex5


exercise5_df = (
    churnDF.groupBy("Signup_Quarter")
           .agg(
               F.count("*").alias("n_customers"),
               F.mean("Churned").alias("churn_rate"),
               F.sum("Lifetime_Value").alias("total_LTV"),
               F.sum(
                   F.when(col("Churned") == 1, col("Lifetime_Value"))
                    .otherwise(0)
               ).alias("churned_LTV")
           )
           .withColumn(
               "fraction_churned",
               col("churned_LTV") / col("total_LTV")
           )
           .orderBy("Signup_Quarter")
)

exercise5_df.show()

+--------------+-----------+-------------------+-----------------+------------------+-------------------+
|Signup_Quarter|n_customers|         churn_rate|        total_LTV|       churned_LTV|   fraction_churned|
+--------------+-----------+-------------------+-----------------+------------------+-------------------+
|            Q1|       4576|0.27338286713286714|6884438.970000012| 1923971.310000001|   0.27946668107365|
|            Q2|       4483|0.29176890475128264|6669369.820000012|1956843.5799999996|0.29340756815311764|
|            Q3|       4552| 0.2662565905096661|6776289.480000011|1819802.0300000021| 0.2685543519607724|
|            Q4|       4372|0.26555352241537056|6569262.320000003|1811677.2000000004|0.27578091903627916|
+--------------+-----------+-------------------+-----------------+------------------+-------------------+